.destination {
  margin-top: 26rem;
  &-container {
    padding: 0 5rem;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-all {
    color: $primary-color;
    font-size: 1.7rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 1rem;
  }
  &-icon {
    cursor: pointer;
    color: $primary-color;
    font-size: 1.2rem;
  }
  &-list {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    width: calc(25% - 18.75px);
    position: relative;
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  &-info {
    background-color: white;
    border-radius: 0 6px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 1.1rem 2.2rem 5px 0;
  }
  &-name {
    font-size: 1.7rem;
    font-weight: 600;
    color: $blacker-color;
    margin-bottom: 5px;
  }
  &-country {
    font-weight: 1.5rem;
    color: #80918e;
  }
  @media screen and(max-width: 1279px) {
    margin-top: 10rem;
  }
  @media screen and (max-width: 1023px) {
    margin-top: 10rem;
    &-list {
      flex-wrap: wrap;
    }
    &-item {
      width: calc(50% - 1rem);
      margin-bottom: 3rem;
    }
  }
  @media screen and (max-width: 767px) {
    &-container {
      padding: 0;
    }
    &-heading {
      font-size: 2.5rem;
    }
    &-all {
      font-size: 1.4rem;
    }
    &-list {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 80%;
      grid-template-columns: unset;
      grid-gap: 0 2rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-item {
      scroll-snap-align: center;
      width: auto;
    }
  }
  @media screen and(max-width: 413px) {
    &-top {
      flex-direction: column;
    }
    &-heading {
      margin-bottom: 2rem;
    }
  }
}
