html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: $primary-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: $text-color;
  height: 9000px;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
.button {
  font-family: $primary-font;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 1.5rem 4rem;
  border-radius: 8px;
  &--primary {
    color: white;
    background-color: $primary-color;
  }
  &--secondary {
    color: $primary-color;
    border: 1px solid currentColor;
  }
}
.heading {
  font-family: $third-font;
  color: $black-color;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 125%;
  &--small {
    font-size: 3.6rem;
    line-height: 139%;
    color: $blackest-color;
  }
}
.text {
  font-family: $secondary-font;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 176%;
}
