.story {
  margin-top: 21rem;
  &-container {
    padding: 0 5rem;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-all {
    color: $primary-color;
    font-size: 1.7rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 1rem;
  }
  &-icon {
    font-size: 1.2rem;
    color: $primary-color;
  }
  &-list {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &-item {
    width: calc(25% - 18.75px);
  }
  &-image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  &-content {
    height: calc(100% - 25rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-title {
    color: $blackest-color;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 158%;
  }
  &-desc {
    font-size: 1.5rem;
    line-height: 173%;
    margin-bottom: 2.3rem;
  }
  &-more {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 600;
  }
  @media screen and(max-width: 1439px) {
    margin-top: 12rem;
  }
  @media screen and(max-width:1023px) {
    &-list {
      flex-wrap: wrap;
    }
    &-item {
      width: calc(50% - 1rem);
      margin-bottom: 3rem;
    }
  }
  @media screen and (max-width: 767px) {
    margin-top: 10rem;
    &-container {
      padding: 0;
    }
    &-list {
      display: block;
    }
    &-item {
      width: 100%;
    }
    &-image {
      height: auto;
    }
  }
  @media screen and(max-width:413px) {
    &-top {
      flex-direction: column;
    }
    &-heading {
      margin-bottom: 3rem;
    }
  }
}
