.thousand {
  margin-top: 17.3rem;
  &-container {
    padding: 0 4rem 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    max-width: 48rem;
    padding-right: 3rem;
  }
  &-heading {
    margin-bottom: 2rem;
  }
  &-desc {
    margin-bottom: 4rem;
  }
  @media screen and (max-width: 1279px) {
    margin-top: 10rem;
  }
  @media screen and (max-width: 1023px) {
    margin-top: 10rem;
    &-left {
      max-width: 35rem;
    }
    &-heading {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 767px) {
    margin-top: 5rem;
    &-container {
      display: block;
      padding: 0;
    }
    &-left {
      max-width: 100%;
      margin-bottom: 5rem;
      padding-right: 0;
    }
    &-heading {
      font-size: 2.6rem;
    }
    &-download {
      width: 100%;
      text-align: center;
    }
  }
}
