$primary-color: #fb8f1d;
$black-color: #202336;
$blacker-color: #042521;
$blackest-color: #000000;
$text-color: #7d7987;
$text-dropdown-color: #4a4c53;
$gray-color: #848484;
$yellow-color: #ffbb0c;
$border-color: #afb0b9;
$primary-font: "Inter", sans-serif;
$secondary-font: "Mulish", sans-serif;
$third-font: "Playfair Display", serif;
